<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.3.5/dist/alpine.min.js" defer="defer">
	</script>
	<title>{{title}}</title>
</head>
<body>


<div x-data="init()">
	<div class="container mt-5">
		<div class="row justify-content-center align-items-center">
		<form class="form form-group" autocomplete="off">
			<div class="input-group">
				<input type="text" class="form-control"
					x-on:keyup="getData" x-model="inputValue" aria-describedby="on2">
				<div class="input-group-append">
					<button id="on2" class="btn btn-outline-primary" type="button"
							@click="getCompany" x-text="'О компании'">
					</button>
				</div>
			</div>
			<div class="autocomplete-items" id="13-autocomplete-list">
				<template x-for="(data, index) in dataFrame" :key="index">
						<div x-html="dataText([index, data])"
							 @click="inputValue=getIndex($event)"
							 x-bind:index="index"
							 x-show="dataVisible(index)">
						</div>>
				</template>
			</div>
		</form>

		<div x-show="isShowCompany">
			<button @click="show=!show"
					x-text="show ? 'Скрыть': 'Показать'"
					class="btn btn-info">
			</button>
			<div x-show="show">
				<template x-for="item in dataCompany" :key="item">
					<p x-text="dataText(item)"></p>
				</template>
			</div>
		</div>
	</div>
	</div>
</div>

<script type="text/javascript">
function init(){ return {
	dataFrame: [],
	inputValue: "",
	tempValue: "",
	dataCompany: [],
	show: false,
	isShowCompany: false,
	getIndex: function(e){
		this.dataFrame = []
		return e.target.getAttribute("index")
	},
	getCompany: function(){
		this.dataFetch("{{url_for('.api_company')}}"+"?"+this.inputValue.toUpperCase())
		.then((data)=>{
			this.isShowCompany = true
			this.dataCompany = Object.entries(data)})
		},
	dataFetch: function(url) {
		return fetch(url).then((response) => {return response.json()})
		},
	dataText: function(item){
		let len = this.inputValue.length
		let word = item[0]
		if (word.substr(0, len) == this.inputValue.toUpperCase())
			word = word.substr(0, len).bold() + word.substr(len)
		 return word + ": " + item[1]
		},
	dataVisible: function(word){
		let len = this.inputValue.length
		if (word.substr(0, len) == this.inputValue.toUpperCase())
			return true
		return false
	},

	getData: function(e){
		if (!this.inputValue) this.dataFrame = []
		if (this.inputValue.length == 1 && this.tempValue != this.inputValue ){
			this.tempValue = this.inputValue
			this.isShowCompany = false
			this.dataFetch("{{url_for('.api_page')}}"+"?"+this.inputValue.toUpperCase())
				.then((data) => { this.dataFrame = new Map(Object.entries(data))})
			}

		},
	}
}
</script>

</body>
</html>
